<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>m/1ZmXL8yjC/8aYOix6Mqo/i3zwImvEThL2V1OsklUo0EJ3rbG0sF63QoDVVQmqDHG/+ErHlJfxKg9utXqhitqATjKOTDA6xXBGum38UcNTczLujVpNI6eu44qBJoobOhP0OIpWKlTJmhjhSUb5vYSPuVgjyO/maa4iB+t8FxemESgJ5TVjcY6SSV1BlxP+g4odB8MjeXJTxKKtt0G2AbtT34m2cm/rf0B9LVcy2BMJlHuAP+RetC+sh5H/g00D6LF2tUsDTx2MZhOOqtUeYadSYgxaEU+ljNIkMpxJ4ew63DwpicGHwtlIsFXzE9xwBV0iCWa6kmQZvgYHcDELIKQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>YefBvgpp0tMkrOHKwm4iGYUiH2+KrZ4TmNYtPm8D4P0=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>ELeTae/R38WZDo6mCY9pCmCf1ZIdVsnY8CHtYg8vRsEERabMs6iHy/mQr2Py31/jycSGfUqD9WSvOtiAWMvAyNFuc+m7jJtbvM0oDxB8VNnrl/sHVrYSKIcTNLrYDsoNAKZPx18O+zDNcHsKEedYIUhgZFKddBlZGMw7qbi/l4Moa48b4l+7GEiWFYN7yq+9wtECsGX2Ilo2F0ZxEkjwTa0iYCBbKa0mr/rapaTPyv2/4XfHwdg366ft6IcBI1TyucKSWPRRShX1AuQFuVNx4MSJzBd9qaDh3ROdb+N9B9zHrYf5Tc6RZ1+CVYVFlrvqjo+TDAfqnJF5O7nU1n4rtA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>ayZNugVR1aHm0qSDrL3pZhq0ecR5YTdAXSY0MC6O5eO7lY+nqnwfAJB1auPtqLqF</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.webServer>
    <modules>
      <add name="SecureStorage" type="Enterprise.Spotlight.Web.Source.HttpModule.OktaAuthHttpModule, Enterprise.Spotlight.Web" />      
      <remove name="WebDAVModule" />
    </modules>
    <rewrite>
      <rules>
        <rule name="PHP App" stopProcessing="true">
          <match url="^" ignoreCase="false" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
			<add input="{REQUEST_FILENAME}" pattern="\.js.map$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="\.png$" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="\.ico$" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="3000000000" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <machineKey configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>lTsezOn9F26lBgD9KcEHseBtXtLATOiWWaceM15ikP/O9LQcHtdq1k+95lb0ZKB7BKPSjuytuFLx+v+U0kuLAXpVRBydNXY2HvmmUMZFNEoDve++LinxDnR3nEmxiZJ0IQJFaAu3G3TNzEUhnKlDAyxb3Hd3WMDfZc2fftdtTu1wBGUunfpFb1uRBGpO464XC40VL3s5g1Od6t1Ohr/ZFzskDMXaQ3Z/DQI+g0UscGhm7k7QNgPgQhCgjYcEOZdM4ezviDpv6F2/rLz6i9b5/7ef2aMRi6Inhwz2OgI26XMkipnzINMwuiqJZ9jr1YuvjkxnVrPK3q0kqI7Dm7ibQQ==</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>r5JfC5LZfv8/2LTx9BFlcvAxl1tK9Fhff14vEJc+9Uc=</CipherValue>
        </CipherData>
      </EncryptedData>
    </machineKey>
  </system.web>
</configuration>